* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: #32bf84;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-top: 2vh;
}
main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.7rem;
}

form {
  background: #cafffb;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  height: 40vh;
  min-height: 15rem;
}

.date-inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
}

input {
  width: 6rem;
  outline: none;
  border: none;

  border-bottom: 2px solid #000;
  background: inherit;

  margin-top: 0.5vh;
  font-size: 1.5rem;

  text-align: center;
}

#submit {
  background: #048243;
  color: #fff;
  font-size: 1.2rem;
  width: 6rem;
  height: 2rem;
  margin-top: 5vh;

  transition: background-color 300ms;
}

#submit:hover {
  background-color: #044625;
}

button {
  border: none;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hidden {
  display: none !important;
}

.counter-container {
  background: #cafffb;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 40vh;
  min-height: 15rem;
}

.restart {
  align-self: flex-end;
  margin-right: 2rem;
  background: url("images/restart.svg");
  background-position: center;
  height: 2rem;
  width: 2rem;
}

.restart:hover {
  opacity: 0.7;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  color: #fff;
  background: #048243;
  width: 85%;
  height: 50%;

  /* hidding scrollbars */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.counter::-webkit-scrollbar {
  display: none;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 15%;
  height: 35%;
  min-width: 6rem;
  min-height: 4.3rem;
}

.time h3 {
  font-size: 1.25rem;
}

.time p {
  margin-top: 0.3rem;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
  form {
    width: 70vw;
  }
  .counter-container {
    width: 90vw;
  }

  .time h3 {
    font-size: 1.1rem;
  }

  .time p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  form {
    width: 85vw;
  }

  .counter-container {
    width: 90vw;
  }

  .counter {
    width: 85%;
    height: 50%;
    padding: 0rem 0.5rem;
  }
}

@media only screen and (max-width: 530px) {
  form {
    height: 70vh;
    min-height: 30rem;
  }

  .date-inputs {
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    margin-top: 1.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .counter-container {
    width: 90vw;
    height: 70vh;
  }

  .counter {
    flex-wrap: wrap;

    width: 85%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 300px) {
  h2 {
    font-size: 1.2rem;
  }

  .time {
    margin-top: 0.7rem;
  }
} ;
