* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: #32bf84;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
