* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: #32bf84;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-top: 2vh;
}
main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

form {
  background: #cafffb;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 20vh;
}

.date-inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
}

input {
  width: 6rem;
  outline: none;
  border: none;

  border-bottom: 2px solid #000;
  background: inherit;

  margin-top: 0.5vh;
  font-size: 1.5rem;

  text-align: center;
}

#submit {
  background: #048243;
  color: #fff;
  font-size: 1.2rem;
  width: 6rem;
  height: 2rem;
  border: none;
  outline: none;
  margin-top: 5vh;

  transition: background-color 300ms;
}

#submit:hover {
  background-color: #044625;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
